body {
  background: rgba(35, 16, 22, 0.3);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
.entireform {
  width: 800px;
  margin: auto;
  background-color: white;
}
h1,
h4 {
  font-weight: normal;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 1px;
  width: 800px;
  margin: auto;
}
/* form {
  width: 800px;
  height: auto;

  background-color: white;
} */
.sumtable {
  padding: 20px;
  text-align: left;
  background-image: linear-gradient(
    to right,
    rgba(253, 123, 70, 1),
    rgba(254, 78, 155, 1)
  );
  color: white;
  display: flex;
  flex-direction: column;
  list-style: none;
}
/* ----------------------------------------------------------- */
hr {
  width: 380px;
}
.amnt {
  text-align: right;
}
.tabletotal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  align-items: center;
}

/* ------------------------------------------------------------------------- */
.paymeth {
  text-align: center;
  color: rgb(0, 0, 0);
}
.typeofpayment {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2%;
}
.cardimage {
  width: 370px;
  height: 110px;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.paypalimage {
  width: 370px;
  height: 110px;
  background: #ffffff;
  box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
img {
  margin-top: 10px;
}
label {
  width: 370px;
  height: 110px;
}
[type="radio"] {
  opacity: 0;
}

[type="radio"]:checked + div {
  outline: 4px solid #fe4e9b;
}
[type="radio"] + .creditdeb {
  cursor: pointer;
}

/* ------------------------------------------------------------------------- */
section {
  display: flex;
  justify-content: space-evenly;
  margin-top: -10px;
}

h4 {
  color: #939393;
}

.icon-rtl {
  background: url("Vector.png") no-repeat right;
  background-size: 20px;
}

#cardnum {
  width: 260px;
  height: 38px;
  background-color: #f3f1f2;
  border: 1px solid #939393;
  border-radius: 4px;
  font-size: 18px;
}
#exp-date {
  width: 182px;
  height: 38px;
  background-color: #f3f1f2;
  border: 1px solid #939393;
  border-radius: 4px;
  font-size: 18px;
}
#sec-code {
  width: 199px;
  height: 38px;
  background-color: #f3f1f2;
  border: 1px solid #939393;
  border-radius: 4px;
  font-size: 18px;
}
button {
  width: 326px;
  height: 68px;
  background: linear-gradient(92.74deg, #fd7b46 1.15%, #fe4e9b 98.48%);
  border-radius: 68px;
  border: none;
  font-size: 24px;
  color: white;
  margin-top: 50px;
}
.needhelp {
  background: linear-gradient(91.07deg, #fe4e9b 32.21%, #fd7b46 67.08%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  margin-top: 30px;
}

@media only screen and (max-width: 600px) {
  * {
    margin-left: 0;
    margin-right: 0;
  }
  .entireform {
    width: 600px;
    height: 784px;
  }

  header {
    width: 600px;
  }

  .typeofpayment {
    width: 600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .cardimage {
    width: 250px;
    height: 110px;
  }

  .paypalimage {
    width: 250px;
    height: 110px;
  }

  .ordsum {
    font-size: 20px;
  }
  hr {
    width: 280px;
  }
  .tabletotal {
    font-size: 16px;
  }

  section {
    display: flex;
    justify-content: space-evenly;
  }

  #cardnum {
    width: 200px;
  }
  #exp-date {
    width: 130px;
  }
  #sec-code {
    width: 120px;
  }
}
@media only screen and (max-width: 300px) {
  * {
    margin-left: 0;
    margin-right: 0;
  }
  header {
    width: 300px;
  }
  header h1 {
    font-size: 24px;
  }
  .entireform {
    width: 300px;
    height: 784px;
  }

  .typeofpayment {
    width: 300px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  .cardimage {
    width: 120px;
    height: 110px;
  }
  .cardimage img {
    width: 100px;
    height: 26px;
  }
  .paypalimage {
    width: 120px;
    height: 110px;
  }
  .paypalimage img {
    width: 22px;
    height: 26px;
  }

  #cardnum {
    width: 260px;
  }

  #exp-date {
    width: 130px;
  }
  #sec-code {
    width: 120px;
  }
  button {
    width: 260px;
  }
}
