* {
  margin: 1%;
  padding: 1%;
  box-sizing: border-box;
}

body {
  margin: 2%;
  justify-content: center;
  overflow: visible;
  background-color: rgb(94, 93, 93);
}

.box-wrapper {
  height: 95vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: justify;
}

#box1 {
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  background-color: rgb(241, 239, 235);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 7px 5px rgb(72, 35, 2);
}

#box2 {
  padding: 8px;
  border: solid 5px rgb(241, 239, 235);
  color: rgb(241, 239, 235);
  background-color: rgb(72, 35, 2);
  border-radius: 25px;
}

#box3 {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  border: solid 1px rgb(241, 239, 235);
  background-color: rgb(241, 239, 235);
  border-radius: 25px;
  box-shadow: 10px 7px 5px rgb(72, 35, 2);
}

#box4 {
  flex-grow: 1;
}
#box5 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  background-color: rgb(72, 35, 2);
  color: white;
}

#box6 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  color: rgb(72, 35, 2);
}
#box7 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  color: rgb(72, 35, 2);
}

#box8 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  background-color: rgb(72, 35, 2);
  color: white;
}
#box9 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  background-color: rgb(72, 35, 2);
  color: white;
}
#box10 {
  color: rgb(72, 35, 2);
}
#box11 {
  flex-grow: 1;
}
#box12 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  color: rgb(72, 35, 2);
}
#box13 {
  flex-grow: 1;
  border: solid 1px rgb(72, 35, 2);
  color: rgb(72, 35, 2);
}
img {
  border: solid 5px rgb(72, 35, 2);
  border-radius: 20px;
}
.date {
  width: 20%;
}
h3 {
  color: rgb(72, 35, 2);
  text-shadow: 2px 2px 5px rgb(77, 57, 8);
  text-decoration: underline;
}
.study {
  font-weight: normal;
}
table {
  color: rgb(72, 35, 2);
}
